In [1]:
import pandas as pd
import numpy as np

file = pd.read_csv('fifa_s2.csv')
file.head()

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0

In [3]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [4]:
file['Position'].value_counts()

Position
GK     275
ST     270
CB     234
CM     190
LB     188
RB     183
RM     148
LM     129
CDM    127
CAM    124
LCB     86
RCB     81
LCM     53
LW      52
RCM     48
RW      45
RS      29
LDM     29
RDM     27
LS      26
RWB     10
LWB      8
CF       7
RAM      3
LAM      3
LF       2
RF       1
Name: count, dtype: int64

In [5]:
file.isna().sum()

ID                            0
Name                          0
Age                           0
Nationality                   7
Overall                       0
Potential                     0
Club                        241
Value                       257
Wage                          0
Preferred Foot                0
International Reputation     10
Skill Moves                   6
Position                     21
Joined                        0
Contract Valid Until        273
Height                        0
Weight                        0
Release Clause                3
dtype: int64

In [6]:
file_not_no = file.dropna(how='all', axis=1)
file_not_no.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [7]:
file_not_no.dropna(inplace=True, how='any')
file_not_no.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2075 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2075 non-null   int64
 1   Name                      2075 non-null   object
 2   Age                       2075 non-null   int64
 3   Nationality               2075 non-null   object
 4   Overall                   2075 non-null   int64
 5   Potential                 2075 non-null   int64
 6   Club                      2075 non-null   object
 7   Value                     2075 non-null   float64
 8   Wage                      2075 non-null   int64
 9   Preferred Foot            2075 non-null   object
 10  International Reputation  2075 non-null   float64
 11  Skill Moves               2075 non-null   float64
 12  Position                  2075 non-null   object
 13  Joined                    2075 non-null   int64
 14  Contract Valid Until      2075 non-null   object
 15  Height                    2075 non-null   float64
 16  Weight                    2075 non-null   float64
 17  Release Clause            2075 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 308.0+ KB

In [8]:
file_not_no.to_csv('fifa_s2_v2.csv')