In [ ]:
import pandas as pd

df = pd.read_csv('fifa_s2_v2.csv')

In [44]:
df = df.apply(lambda x: x.str.lower() if x.dtype == 'object' else x)

In [46]:
df.drop('Unnamed: 0', axis=1)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,g. buffon,40,italy,88,88,paris saint-germain,4000.0,77,right,4.0,1.0,gk,2018,01/01/2019,6.333333,203.0,7400.0
1,8205,braga,35,portugal,70,70,cd aves,750.0,5,right,1.0,3.0,lcm,2017,01/01/2019,5.916667,165.0,1600.0
2,9014,a. robben,34,netherlands,84,84,fc bayern münchen,15500.0,110,left,4.0,4.0,rm,2009,01/01/2019,5.916667,176.0,25600.0
3,19521,j. ibehre,35,england,61,61,cambridge united,120.0,2,right,1.0,2.0,st,2017,01/01/2019,6.333333,203.0,210.0
4,20209,ricardo costa,37,portugal,74,74,cd tondela,750.0,4,right,2.0,2.0,lcb,2017,01/01/2019,6.000000,181.0,1600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2070,246465,guerrero,16,spain,63,76,cf rayo majadahonda,625.0,1,left,1.0,3.0,cm,2018,01/01/2019,5.916667,165.0,1400.0
2071,246594,h. massengo,16,france,62,75,as monaco,450.0,2,right,1.0,2.0,cdm,2018,01/01/2021,5.833333,146.0,1100.0
2072,246599,guillem jaime,19,spain,64,80,fc barcelona,975.0,13,right,1.0,3.0,rw,2018,01/01/2020,5.833333,154.0,2600.0
2073,246606,fran garcía,18,spain,64,79,real madrid,825.0,9,left,1.0,2.0,lb,2018,01/01/2019,5.583333,139.0,2200.0
2074,246608,fidalgo,21,spain,65,75,real madrid,875.0,20,right,1.0,3.0,cm,2016,01/01/2019,5.750000,150.0,2000.0

In [47]:
df.duplicated().sum()

0

In [49]:
df.head(10)

,Unnamed: 0,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,0,1179,g. buffon,40,italy,88,88,paris saint-germain,4000.0,77,right,4.0,1.0,gk,2018,01/01/2019,6.333333,203.0,7400.0
1,2,8205,braga,35,portugal,70,70,cd aves,750.0,5,right,1.0,3.0,lcm,2017,01/01/2019,5.916667,165.0,1600.0
2,3,9014,a. robben,34,netherlands,84,84,fc bayern münchen,15500.0,110,left,4.0,4.0,rm,2009,01/01/2019,5.916667,176.0,25600.0
3,4,19521,j. ibehre,35,england,61,61,cambridge united,120.0,2,right,1.0,2.0,st,2017,01/01/2019,6.333333,203.0,210.0
4,5,20209,ricardo costa,37,portugal,74,74,cd tondela,750.0,4,right,2.0,2.0,lcb,2017,01/01/2019,6.000000,181.0,1600.0
5,6,20801,cristiano ronaldo,33,portugal,94,94,juventus,77000.0,405,right,5.0,5.0,st,2018,01/01/2022,6.166667,183.0,127100.0
6,8,27532,d. de vries,37,netherlands,66,66,celtic,40.0,7,right,1.0,1.0,gk,2016,01/01/2019,6.250000,212.0,72.0
7,9,45083,s. von bergen,35,switzerland,73,73,bsc young boys,950.0,12,right,2.0,2.0,lcb,2013,01/01/2022,6.000000,174.0,1400.0
8,10,46175,m. rosenberg,35,sweden,73,73,malmö ff,1800.0,6,right,1.0,3.0,rs,2014,01/01/2020,6.000000,179.0,2400.0
9,11,47201,s. proto,35,belgium,76,76,lazio,1800.0,20,right,2.0,1.0,gk,2018,01/01/2021,6.000000,163.0,3100.0

In [50]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [52]:
df.duplicated().sum()

2

In [56]:
df = df.drop_duplicates()

In [57]:
df.duplicated().sum()

0

In [58]:
df.to_csv('fifa_s2_v3.csv')