In [1]:
import pandas as pd

df = pd.read_csv('fifa_s2_v3.csv')

In [10]:
def age_categories(age):
    if age < 20:
        return 'группа младше 20'
    elif 20 <= age < 30:
        return 'от 20 до 30 лет'
    elif 30 <= age < 36:
        return 'от 30 до 36 лет'
    else: 
        return 'пенсионер старше 36'
    
df['Age_Groups'] = df['Age'].apply(age_categories)

In [11]:
df[['Name', 'Age', 'Age_Groups']].head(10)

                Name  Age           Age_Groups
0          g. buffon   40  пенсионер старше 36
1              braga   35      от 30 до 36 лет
2          a. robben   34      от 30 до 36 лет
3          j. ibehre   35      от 30 до 36 лет
4      ricardo costa   37  пенсионер старше 36
5  cristiano ronaldo   33      от 30 до 36 лет
6        d. de vries   37  пенсионер старше 36
7      s. von bergen   35      от 30 до 36 лет
8       m. rosenberg   35      от 30 до 36 лет
9           s. proto   35      от 30 до 36 лет

In [12]:
df['Age_Groups'].value_counts()

Age_Groups
от 20 до 30 лет        1415
от 30 до 36 лет         379
группа младше 20        262
пенсионер старше 36      17
Name: count, dtype: int64

In [13]:
counts = df['Age_Groups'].value_counts()
print(counts)

Age_Groups
от 20 до 30 лет        1415
от 30 до 36 лет         379
группа младше 20        262
пенсионер старше 36      17
Name: count, dtype: int64